
params {
    images = [
        linux:              'quay.io/mauraisa/aws_bash:latest',
        panorama_client:    'quay.io/protio/panorama-client:1.1.0',
        proteowizard:       'quay.io/mauraisa/pwiz-skyline-i-agree-to-the-vendor-licenses:skyline_daily_25.0.9.97-ae4c997',
        batch_report:       'quay.io/mauraisa/dia_qc_report:2.5.0'
    ]
}
