
params {
    documents = ['Batch1': ['skyline': 'test_resources/skyline1.sky.zip', 'metadata': 'test_resources/metadata_1.tsv'],
                 'Batch2': ['skyline': 'test_resources/skyline2.sky.zip']]
}

// Execution Profiles
profiles {
    standard {
        process.executor = 'local'
        executor.queueSize = 2
        params.max_memory = '1.GB'
        params.max_cpus = 2
        params.max_time = '1.h'
    }
}