
params {
    documents = ['Batch1': ['skyline': '/path/to/skyline.sky', 'metadata': '/path/to/metadata.tsv'],
                 'Batch2': ['skyline': '/path/to/skyline2.sky']]
}

// Execution Profiles
profiles {
    standard {
        process.executor = 'local'
        executor.queueSize = 2
        params.max_memory = '1.GB'
        params.max_cpus = 2
        params.max_time = '1.h'
    }
}